version: '3.8'
services:
  db:
    image: postgres:13-alpine
    container_name: flex_reviews_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: flexreviews
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
